---
import type { CollectionEntry } from "astro:content";

type Props = {
	product: CollectionEntry<"projects">;
};

const { product } = Astro.props;
---

<a
	class="product-card"
	data-product-title={product.data.title}
	data-astro-prefetch
	href="#"
>
	<article>
		<img
			src={product.data.cover}
			alt={product.data.title}
			loading="lazy"
		/>

		<div class="product-meta">
			<h3>{product.data.title}</h3>

			<p>{product.data.year}</p>
		</div>
	</article>
</a>

<style>
	.product-card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 300px;
	}

	img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		display: block;
	}

	.product-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.5rem;
	}

	h3,
	p {
		margin: 0;
	}

	p {
		opacity: 0.6;
	}
</style>